body{background-color:black; 

	}
#wrapper{
	background-color: white;
	border: groove;
	width: 700px;
	height: 700px;
	margin: auto;

	}
#one{
	width: 175px;
	height: 200px;
	float: left;


	}
#two{

	width: 175px;
	height:200px;
	float:left;
	}
#three{
	
	width: 175px;
	height:200px;
	float:left;

	}
#four{
	
	width: 175px;
	height:200px;
	float:left;

	}
#five{
	
	width: 350px;
	height:200px;
	float:left;

	}
#six{
	
	width:350px;
	height:200px;
	float:left;

	}
#seven{
	
	width:350px;
	height: 200px;
	float:left;

	}
#eight{

	width: 350px;
	height: 200px;
	float: left;


	}
